<div id="page_wrapper">

<% if current_user.role.name == "admin" %>

	<%= link_to 'Edit', edit_voivodeship_path(@voivodeship), class: "button" %>
	<%= link_to 'Delete', voivodeship_path(@voivodeship), method: :delete, data: { confirm: 'Are you sure?' } ,class: "button" %>

<% end %>

	<h1 class="voivodeship_name">
		<%= @voivodeship.name %>
	</h1>

<p><strong>Seats in the Regional Assembly: </strong> <%= @voivodeship.seats %> </p>
<p><strong> Committees: </strong>  <%= @assosciated_commitees %> </p>


	<h2>Results </h2>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Number of votes</th>
	      <th>Area</th>
	      <th>Committee</th>
	 
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody> 


	    <% @vote.each do |vote| %>
	        <% if vote.area.voivodeship_id == @voivodeship.id %>
	      <tr>
	        <td><%= vote.sum %></td>
	        <td><%= vote.area.name %></td>
	        <td><%= vote.commitee.name %></td>	        
	      </tr>
	         <% end %>
	   <% end %>
	  </tbody>
	</table>

	<!-- 	(Submitted <%= time_ago_in_words(@voivodeship.created_at) %> Ago) -->

	<h2>Voter turnout</h2>
<%= pie_chart @voivodeship.areas.group(:name).sum(:ballots) %>






	<div id="voivodship_wrapper">

		<% if @voivodeship.areas.count == 1 %>
			<h2>There is <%= @voivodeship.areas.count %> electorial area: </h2>
		   <% else %>
			   <% if @voivodeship.areas.count == 0 %>
				<h2>There are no electorial areas. </h2>
		 	   <% else %>
		      <h2>There are <%= @voivodeship.areas.count %> electorial areas: </h2>
			<% end %>

		<% end %>

		<p id="notice"><%= notice %></p>


	<br>


		

		<%= render @voivodeship.areas %>

<% if current_user.role.name == "admin" %>

		<h3>Add an electorial area</h3>
		<%= render "areas/form" %>

		<% end %>


	</div>





</div>