<div class="voivodeship_wrapper">
	<h1 class="voivodeship_name">
		<% unless  @voivodeship.image.blank? %>
			    <%= image_tag @voivodeship.image.url(:thumb) %> 
			  <% end %>
			 Województwo <%= @voivodeship.name %>
	</h1>
</div>



<div id="page_wrapper">

<% if current_user.role.name == "admin" %>

	<%= link_to 'Edytuj', edit_voivodeship_path(@voivodeship), class: "button" %>
	<%= link_to 'Usuń', voivodeship_path(@voivodeship), method: :delete, data: { confirm: 'Na pewno usunąć?' } ,class: "button" %>
	<br>
	<br>


<% end %>

<p><strong>Ilość miejsc w sejmiku wojewódzkim: </strong> <%= @voivodeship.seats %> </p>
<p><strong>Komitety biorące udział w wyborach: </strong>  <%= @assosciated_commitees %> </p>


	<h2>Wyniki głosowania </h2>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Ilość głosów</th>
	      <th>Okręg</th>
	      <th>Komitet</th>
	 
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody> 


	    <% @vote.each do |vote| %>
	        <% if vote.area.voivodeship_id == @voivodeship.id %>
	      <tr>
	        <td><%= vote.sum %></td>
	        <td><%= vote.area.name %></td>
	        <td><%= vote.commitee.name %></td>	        
	      </tr>
	         <% end %>
	   <% end %>
	  </tbody>
	</table>


	<!-- 	(Submitted <%= time_ago_in_words(@voivodeship.created_at) %> Ago) -->

	<h2>Frekwencja w poszczególnych okręgach</h2>
    
    <%= pie_chart @voivodeship.areas.group(:name).sum(:ballots) %>





	<div id="voivodship_wrapper">

		<% if @voivodeship.areas.count == 1 %>
			<h2> <%= @voivodeship.areas.count %> okręg wyborczy: </h2>
		   <% else %>
			   <% if @voivodeship.areas.count == 0 %>
				<h2>Brak okręgów wyborczych. </h2>
		 	   <% else %>
		      <h2> <%= @voivodeship.areas.count %> okręgi wyborcze: </h2>
			<% end %>

		<% end %>

		<p id="notice"><%= notice %></p>


	<br>


		

		<%= render @voivodeship.areas %>

<% if current_user.role.name == "admin" %>

		<h3>Dodaj okręg wyborczy </h3>
		<%= render "areas/form" %>

		<% end %>


	</div>





</div>