<div class="voivodeship_wrapper">
	<h1 class="voivodeship_name">
		<% unless  @voivodeship.image.blank? %>
			    <%= image_tag @voivodeship.image.url(:thumb) %> 
			  <% end %>
			 Województwo <%= @voivodeship.name %>
	</h1>
</div>



<div id="page_wrapper">

<% if current_user.role.name == "admin" %>

	<%= link_to 'Edytuj', edit_voivodeship_path(@voivodeship), class: "button" %>
	<%= link_to 'Usuń', voivodeship_path(@voivodeship), method: :delete, data: { confirm: 'Na pewno usunąć?' } ,class: "button" %>
	<br>
	<br>


<% end %>

<p><strong>Ilość miejsc w sejmiku wojewódzkim: </strong> <%= @voivodeship.seats %> </p>
<p><strong> Ilość osób uprawnionych do głosowania: </strong>  <%= @sum_people %> </p>
<p><strong> Wydane karty do głosowania: </strong>  <%= @sum_ballots %> </p>
<p><strong> Oddane głosy:   </strong><%= @sum_all %>  <% unless @sum_all == @sum_ballots %> <span class="alert"> UWAGA! Liczba wydanych kart i oddanych głosów nie zgadza się! <span> <% end %> </p>
<p><strong> Poprawne głosy:  </strong> <%= @sum_correct %> </p>
<p><strong> Niepoprawne głosy: </strong>  <%= @sum_incorrect %> </p>
<p><strong> Puste głosy: </strong>  <%= @sum_empty %> </p>


	<h2>Wyniki głosowania </h2>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Ilość głosów</th>
	        <th>Procent</th>

	      <th>Komitet</th>
	 
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody> 


	    <% @vote.each do |vote| %>
	       
	      <tr>
	        <td><%= vote.sum %></td>
	        <td><%= @percent = (vote.sum.to_f / @sum_all.to_f) * 100
	        		@percent.round(2) %> %</td>
	        <td><%= vote.commitee.name %></td>	        
	      </tr>
	       
	   <% end %>
	  </tbody>
	</table>



	<%= pie_chart @correct.sum(:number) %>
 
	<!-- 	(Submitted <%= time_ago_in_words(@voivodeship.created_at) %> Ago) -->

	<h2>Frekwencja w poszczególnych okręgach</h2>
    
    <%= pie_chart @voivodeship.areas.group(:name).sum(:ballots) %>





	<div id="voivodship_wrapper">

		<% if @voivodeship.areas.count == 1 %>
			<h2> <%= @voivodeship.areas.count %> okręg wyborczy: </h2>
		   <% else %>
			   <% if @voivodeship.areas.count == 0 %>
				<h2>Brak okręgów wyborczych. </h2>
		 	   <% else %>
		      <h2> <%= @voivodeship.areas.count %> okręgi wyborcze: </h2>
			<% end %>

		<% end %>

		<p id="notice"><%= notice %></p>


	<br>


		

		<%= render @voivodeship.areas %>

<% if current_user.role.name == "admin" %>

		<h3>Dodaj okręg wyborczy </h3>
		<%= render "areas/form" %>

		<% end %>


	</div>





</div>