<div id="page_wrapper">
<h1 class="voivodeship_name">
	<%= @voivodeship.name %>
</h1>


<!-- 	(Submitted <%= time_ago_in_words(@voivodeship.created_at) %> Ago) -->
	<%= link_to 'Edit', edit_voivodeship_path(@voivodeship), class: "button" %>
	<%= link_to 'Delete', voivodeship_path(@voivodeship), method: :delete, data: { confirm: 'Are you sure?' } ,class: "button" %>

<div id="voivodship_wrapper">

	<% if @voivodeship.areas.count == 1 %>
		<h2>There is <%= @voivodeship.areas.count %> electorial area: </h2>
	<% else %>

	<h2>There are <%= @voivodeship.areas.count %> electorial areas: </h2>
	
	<% end %>

	<%= render @voivodeship.areas %>
	<h3>Add an electorial area</h3>
	<%= render "areas/form" %>

</div>
</div>