<div id="page_wrapper">
<p>
  <strong>Nazwa:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Rola:</strong>
  <%= @user.role.name %>
</p>


<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<% if @user.area_id.present? == true %> <p>
  <strong>Okręg wyborczy:</strong> <%= @user_area.name %></p>
<p>
  <strong>Województwo:</strong> 
   <%= @user_voivodeship.name %> </p>
  <% end %>

<p>
  <strong>Zarejestrowany: </strong>
  <%= @joined_on %>
</p>
<p>
  <strong>Ostatnie logowanie:</strong>
  <%= @last_login %>
</p>
<p>
  <strong>Ilość logowań:</strong>
  <%= @user.sign_in_count %>
</p>
<br><br>

<%= link_to 'Edytuj', edit_user_path(@user), class: "button"  %> 
<%= link_to 'Usuń', @user, method: :delete, data: { confirm: 'Na pewno usunąć?' }, class: "button" %></td>
<%= link_to 'Wróć', users_path, class: "button" %>
</div>