<%= form_for @commitee,  html: { multipart: true } do |f| %>
	<% if @commitee .errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@commitee.errors.count, "error") %> prevented this commitee  from saving</h2>
		</div>
		<ul> 
			<% @commitee.errors.full_messages.each do |msg| %>
			<li> <%= msg %></li>
			<% end %>
		</ul>
	<% end %>
<div class: "form-group">
	<%= f.label :name %> <br>
	<%= f.text_field :name , class: "form-control"%>
</div>
<div class: "form-group">
	<%= f.label :image %> <br>
	<%= f.file_field :image %>
</div>

<div class: "form-group">
<%= f.label :voivodeship %> <br>

<% for voivodeship in Voivodeship.all %>
<div>

  <%= check_box_tag "commitee[voivodeship_ids][]", voivodeship.id, @commitee.voivodeship_ids.include?(voivodeship.id) %>
 
  <%= voivodeship.name %>
</div>
<% end %>
</div>

<p>
	<%= f.submit %>
</p>
<% end %>