<%= form_for @commitee,  html: { multipart: true } do |f| %>
	<% if @commitee .errors.any? %>
		<div id="errors">
			<h2>Nie zapisano. Błędy: <%= @commitee.errors.count %> </h2>
		</div>
		<ul> 
			<% @commitee.errors.full_messages.each do |msg| %>
			<li> <%= msg %></li>
			<% end %>
		</ul>
	<% end %>
<div class: "form-group">
	<%= f.label 'Nazwa' %> <br>
	<%= f.text_field :name , class: "form-control"%>
</div>
<br>
<div class: "form-group">
	<%= f.label 'Logo' %> <br>
	<%= f.file_field :image %>
</div>
<br>
<div class: "form-group">
<%= f.label 'Województwa, w których startuje komitet' %> <br>

<% for voivodeship in Voivodeship.all %>
<div>

  <%= check_box_tag "commitee[voivodeship_ids][]", voivodeship.id, @commitee.voivodeship_ids.include?(voivodeship.id) %>
 
  <%= voivodeship.name %>
</div>
<% end %>
</div>
<br>
<p>
	<%= f.submit 'Zapisz'%>
</p>
<% end %>