<div id="page_wrapper">
	
<h1 class="voivodeship_name">
	<%= @commitee.name %>
</h1>
<strong> Województwa, w których startuje komitet: </strong>
 <%= @assosciated_voivodeships %></br></br>	</br></br>	


	 	<% unless  @commitee.image.blank? %>
			    <%= image_tag @commitee.image.url(:medium) %> 
	    <% end %>
</br></br>	


</br></br>

</br>
</br>


	<%= link_to 'Edytuj', edit_commitee_path(@commitee), class: "button" %>
	<%= link_to 'Usuń', commitee_path(@commitee), method: :delete, data: { confirm: 'Na pewno usunąć?' } ,class: "button" %>





<div id="voivodship_wrapper">

	
</div>
</div>