<div id="page_wrapper">
	
<h1 class="voivodeship_name">
	<%= @commitee.name %>
</h1>

	<%= image_tag @commitee.image.url(:medium) %>
</br></br>	Voivodeships:
 <%= @assosciated_voivodeships %>

</br></br>
















</br>
</br>


	<%= link_to 'Edit', edit_commitee_path(@commitee), class: "button" %>
	<%= link_to 'Delete', commitee_path(@commitee), method: :delete, data: { confirm: 'Are you sure?' } ,class: "button" %>





<div id="voivodship_wrapper">

	
</div>
</div>