

<div class="voivodeship_wrapper">
<h1 class="voivodeship_name">
	 	<% unless  @commitee.image.blank? %>
			    <%= image_tag @commitee.image.url(:thumb) %> 
	    <% end %><%= @commitee.name %>
</h1>
<% if current_user.role.name == "admin" %>
	<%= link_to 'Edytuj', edit_commitee_path(@commitee), class: "button" %>
	<%= link_to 'Usuń', commitee_path(@commitee), method: :delete, data: { confirm: 'Na pewno usunąć?' } ,class: "button" %>
	<br><br>   <% end %>

</div>
<div id="page_wrapper">
<strong> Województwa, w których startuje komitet: </strong>
 <%= @assosciated_voivodeships %></br></br>	


<h3 class="voivodeship_name">
	Popracie dla komitetu <%= @commitee.name %> w różnych okręgach
</h3>

<%= pie_chart @com_votes %>
	



<div id="voivodship_wrapper">

	
</div>
</div>