<%= form_for([@voivodeship, @voivodeship.areas.build]) do |f| %>
<p>
	<%= f.label :name %> <br>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :number %> <br>
	<%= f.text_field :number %>
</p>

<p>
	<%= f.label :people %> <br>
	<%= f.text_field :people %>
</p>
<p>
	<%= f.label :empty_votes %> <br>
	<%= f.number_field :empty_votes %>
</p>
<p>
	<%= f.label :incorrect_votes %> <br>
	<%= f.text_field :incorrect_votes %>
</p>
<p>
	<%= f.submit %>
</p>

<% end %>

