<div id="page_wrapper">

<%= form_for([@voivodeship, @area]) do |f| %>

	<% if @area.errors.any? %>
		<div id="errors">
			<h2>Nie zapisano. Błędy: <%=@area.errors.count %> </h2>
		</div>
		<ul> 
			<% @area.errors.full_messages.each do |msg| %>
			<li> <%= msg %></li>
			<% end %>
		</ul>
	<% end %>


<div class="form-group">
	<%= f.label 'Nazwa' %> <br>
	<%= f.text_field :name, class: "form-control"%>
</div>

<div class="form-group">
	<%= f.label "Numer" %> <br>
	<%= f.text_field :number, class: "form-control"%>
</div>

<div class="form-group">
	<%= f.label "Ilość osób uprawnionych do głosowania" %><br>
	<%= f.text_field :people, class: "form-control"%>
</div>

<div class="form-group">
	<%= f.label "Ilość wydanych kart wyborczych"  %> <br>
	<%= f.text_field :ballots, class: "form-control"%>
</div>

<div class="form-group">
	<%= f.label "Ilość pustych głosów" %> <br>
	<%= f.text_field :empty_votes, class: "form-control"%>
</div>
<div class="form-group">
	<%= f.label "Ilość niepoprawnych głosów" %> <br>
	<%= f.text_field :incorrect_votes, class: "form-control"%>
</div>
<p>
	<br><%= f.submit "Wyślij" %>
</p>

<% end %>




</div>