<div id="page_wrapper">

<%= form_for([@voivodeship, @area]) do |f| %>
<p>
	<%= f.label :name %> <br>
	<%= f.text_field :name %>
</p>


<p>
	<%= f.label :number %> <br>
	<%= f.text_field :number %>
</p>

<p>
	<%= f.label :people %> <br>
	<%= f.text_field :people %>
</p>
<p>
	<%= f.submit %>
</p>

<% end %>




</div>