<div id="page_wrapper">

<% if current_user.role.name == "admin" or current_user.area_id.to_i == @area.id %>

<%= link_to 'Edytuj', edit_voivodeship_area_path(@voivodeship, @area), class: "button" %> <% end %>

<% if current_user.role.name == "admin" %>

<%= link_to 'Usuń', voivodeship_area_path(@voivodeship, @area), method: :delete, data: { confirm: 'Na pewno usunąć?' } ,class: "button" %>

<% end %>
<% if current_user.area_id.to_i == @area.id %>
<%= link_to 'Dodaj głosy', new_vote_path, class: "button" %>
<% end %>
<h1 class="voivodeship_name">
	<%= @area.name %> 
</h1>

<p><strong> Okręg wyborczy nr </strong> <%= @area.number %> </p>

<p ><strong>  Ilość osób uprawnionych do głosowania:  </strong>  <%= @area.people %></p>

<p><strong>   Komitety biorące udział w wyborach: </strong> <%= @assosciated_commitees %> </p>

<p><strong> Wydane karty do głosowania: </strong> <%= @area.ballots %> </p>

<p><strong> Suma wszystkich oddanych głosów (ważne, puste, błędne): </strong> <%= @suma%> </p>

<p><strong>Ilość pustych głosów: </strong><%= @area.empty_votes %> </p>

<p><strong>Ilość niepoprawnych głosów:</strong>  <%= @area.incorrect_votes %> </p>

<% if current_user.role.name == 'admin' or  current_user.role.name == 'central_member' %>

<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Ilość głosów</th>
	      <th>Komitet wyborczy</th>
	 
	      <th colspan="2"></th>
	    </tr>
	  </thead>

	  <tbody> 


	    <% @vote.each do |vote| %>
	        <% if vote.area.voivodeship_id == @voivodeship.id %>
	      <tr>
	        <td><%= vote.sum %></td>
	        <td><%= vote.commitee.name %></td>	        
	      </tr>
	         <% end %>
	   <% end %>
	  </tbody>
	</table>

<% end %>

<% if current_user.area_id.to_i == @area.id %>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Ilość głosów</th>
       
      <th>Komitet wyborczy</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @votea.each do |vote| %>
      <% if vote.area.voivodeship_id == @voivodeship.id %>
      <tr>
        <td><%= vote.number %></td>
    
        <td><%= vote.commitee.name %></td>    
        <td><%= link_to 'Pokaż', vote %></td>
        <td><%= link_to 'Edytuj', edit_vote_path(vote) %></td>
        <td><%= link_to 'Usuń', vote, method: :delete, data: { confirm: 'Na pewno usunąć?' } %></td>
   
        <% end %>
    <% end %>
  </tbody>
</table>

<br><br>
<% end %>

<%= pie_chart Vote.joins(:commitee).where(area_id: @area.id).group(:name).sum(:number) %>
	

</div>