<div id="page_wrapper">
<h1 class="voivodeship_name">
	<%= @area.name %> 
</h1> <h2> Electorial area No. <%= @area.number %> </h2>

<p class="comment_body"> Number of people allowed to vote: <%= @area.people %></p>


<p> Committees:  <%= @assosciated_commitees %> </p>

Ballots: <%= @area.ballots %>
<br>
<br>

Sum of votes: <%= @suma%>
<br>
<br>


Empty votes: <%= @area.empty_votes %>
<br>
<br>

Incorrect votes: <%= @area.incorrect_votes %>
<br>
<br>

<table>
	  <thead>
	    <tr>
	      <th>Number of votes</th>
	      <th>Area</th>
	      <th>Committee</th>
	 
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody> 


	    <% @vote.each do |vote| %>
	        <% if vote.area.voivodeship_id == @voivodeship.id %>
	      <tr>
	        <td><%= vote.sum %></td>
	        <td><%= vote.area.name %></td>
	        <td><%= vote.commitee.name %></td>	        
	      </tr>
	         <% end %>
	   <% end %>
	  </tbody>
	</table>


<%= link_to 'Edit', edit_voivodeship_area_path(@voivodeship, @area), class: "button" %>

<%= pie_chart Vote.where(area_id: @area.id).group('commitee_id').sum(:number) %>


<%= pie_chart ({"Football" => 10, "Basketball" => 5}) %>


<%= pie_chart @votess %>

<br><%= @votess.to_a %>

<%=  Area.where(id: @area.id).name %> 
</div>