<div class="voivodeship_wrapper">
<h1> Role użytkowników </h1>

</div>

<div id="page_wrapper">


  <table class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td><%= link_to 'Pokaż', role %></td>
        <td><%= link_to 'Edytuj', edit_role_path(role) %></td>
        <td><%= link_to 'Usuń', role, method: :delete, data: { confirm: 'Na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj rolę', new_role_path, class: "button" %>

</div>