<div id="page_wrapper">


<p>
  <strong>Nazwa:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @role.description %>
</p>
<p>
  <strong>Powiązani użytkownicy:</strong>
  <%= @assosciated_users %>
</p>
<br>
<%= link_to 'Edytuj', edit_role_path(@role), class: "button" %> 
<%= link_to 'Wróć', roles_path,  class: "button" %> 

</div>