<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>

 <div class="field">
    <p>Komitet:</p>
     <%= f.label :commitee_id %><br>
     <%= collection_select(:vote, :commitee_id, Commitee.find(params[:area_id]), :id,  :name, {prompt: true}) %>
  
  </div>
<!--   <div class="field">
    <p>Okręg:</p>
     <%= f.label :area_id %><br>
    <%= collection_select(:vote, :area_id, Area.all, :id, :name, {prompt: true}) %>
  </div> -->




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



