<!DOCTYPE html>
<html>
<head>
  <title>Elections</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= csrf_meta_tags %>
</head>
<body>

	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo2.png" %>
			<% end %>
		</div> 

		<ul>
			<li class="category">Państwowa Komisja Wyborcza</li>			
<% if user_signed_in? %>
		<% if current_user.role.name == "central_member" or current_user.role.name == "admin"  %>
				<li><%= link_to "Województwa", voivodeships_path %></li>
				<li><%= link_to "Komitety wyborcze", commitees_path %></li>
				<li><%= link_to "Wyniki zbiorcze", sum_path %></li>
				<li><%= link_to "Wyniki w województwach", sum_voivodeships_path %></li>
				<li><%= link_to "Głosy", votes_path %></li>

		<% end %>

		<% if current_user.role.name == "admin" %>
			<li><%= link_to "Użytkownicy", users_path %></li>
			<li><%= link_to "Role", roles_path %></li>
		<% end %>
			<% end %>			</ul>


	</div>

	<div id="main_content">
		<div id="header">

			<% if user_signed_in? %>	
			<strong> 	<p> Witaj <%= current_user.name %>! </strong>

				 <strong> Rola: </strong> <%= current_user.role.name %>

			

		

				</p>

			
			<% else %>

			<p>Aplikacja wyborcza</p> 

<% end %>


			<div class="buttons">



			<% if user_signed_in? %>
			<button class="button">	<%= link_to "Edytuj twój profil", edit_user_registration_path %></button>
			<button class="button">	<%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %></button>
			<% else %><button class="button">	<%= link_to "Zarejestruj się", new_user_registration_path %></button>
			<button class="button">	<%= link_to "Zaloguj się", new_user_session_path %></button><% end %>

			</div>

		</div>

<div class="voivodeship_wrapper msg">

<% flash.each do |name, msg| %>
  <h3> <%= content_tag :div, msg, id: "flash_#{name}" %> </h3>
<% end %>

 </div>

	<%= yield %>
	
	</div>



</body>
</html>
