<!DOCTYPE html>
<html>
<head>
  <title>Elections</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= csrf_meta_tags %>
</head>
<body>

	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo2.png" %>
			<% end %>
		</div> 

		<ul>
			<li class="category">Elections App</li>
			<li><%= link_to "Voivodeships", root_path %></li>
			<li><%= link_to "Commitees", commitees_path %></li>
			<li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Roles", roles_path %></li>
			<li><%= link_to "Votes", votes_path %></li>
			<li><%= link_to "Sum", sum_path %></li>
		</ul>


	</div>

	<div id="main_content">
		<div id="header">

			<% if user_signed_in? %>	
				<p> Welcome <%= current_user.name %>! Rola: <%= current_user.role.name %> Area: <%= current_user.area_id %> </p>
			
			<% else %>

			<p>Elections Application </p> 

<% end %>


			<div class="buttons">



			<% if user_signed_in? %>
			<button class="button">	<%= link_to "Edit your profile", edit_user_registration_path %></button>
			<button class="button">	<%= link_to "Log out", destroy_user_session_path, :method => :delete %></button>
			<% else %><button class="button">	<%= link_to "Sign up", new_user_registration_path %></button>
			<button class="button">	<%= link_to "Sign in", new_user_session_path %></button><% end %>

			</div>

		</div>

<div class="voivodeship_wrapper msg">

<% flash.each do |name, msg| %>
  <h3> <%= content_tag :div, msg, id: "flash_#{name}" %> </h3>
<% end %>

 </div>

	<%= yield %>
	
	</div>



</body>
</html>
